server:
  port: 8080

spring:
  application:
    name: librasys
  datasource:
    url: jdbc:mysql://localhost:3306/librasys_db?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: YOUR_DATABASE_USERNAME
    password: YOUR_DATABASE_PASSWORD
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 2
          max-wait: -1ms
  mail:
    host: YOUR_MAIL_HOST
    port: YOUR_MAIL_PORT
    username: YOUR_MAIL_USERNAME
    password: YOUR_MAIL_PASSWORD
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

jwt:
  secret: YOUR_HEX_64_CHARACTER_JWT_SECRET_KEY
  expiration: 86400000 # 24 hours (in milliseconds)

logging:
  level:
    com.librasys: DEBUG
    org.hibernate.SQL: DEBUG
    org.springframework.cache: TRACE
